.features-section {
  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    align-items: center;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    max-width: 544px;
  }
}

.features-list-item {
  @include media(desktop) {
  }
}

.features-item-title {
  font-family: 'Petrona', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #2c2b28;
  margin-bottom: 4px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.features-item-text {
  font-family: 'Petrona', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2b28;

  @include media(desktop) {
    font-size: 18px;
  }
}

.features-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 543px;
    margin: 0;
  }
}
