.footer {
  background: #111415;

  @include media(desktop) {
  }
}

.footer-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 16px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.footer-container {
  @include media(desktop) {
  }
}

.footer-content-wrapper {
  @include media(desktop) {
  }
}

.footer-nav {
  margin-bottom: 40px;

  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 36px;
  }
}

.footer-list-item {
  @include media(desktop) {
    &:first-child {
      position: relative;

      &::after {
        content: '|';
        font-family: 'Rajdhani', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        color: #54f4ff;
        position: absolute;
        bottom: 0;
        right: -17px;
      }
    }
  }
}

.footer-link {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #54f4ff;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
    font-size: 18px;
  }

  &:hover,
  &:focus {
  }
}

.footer-bottom-text {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  text-align: center;
  color: #54f4ff;

  @include media(desktop) {
    font-size: 12px;
  }
}
