.gameplay-section {
  background: #0676bd;

  @include media(desktop) {
  }
}

.gameplay-bg-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    align-items: center;
  }
}

.gameplay-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    max-width: 544px;
  }
}

.gameplay-list-item {
  @include media(desktop) {
  }
}

.gameplay-item-title {
  font-family: 'Onest', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.3;
  color: #fff;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 28px;
  }
}

.gameplay-text-span {
  color: #ffff67;

  @include media(desktop) {
  }
}

.gameplay-item-text {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
  }
}

.gameplay-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 544px;
    margin: 0;
  }
}
