.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 110px;
  padding-bottom: 426px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 486px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Gloock', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  color: #2c2b28;
  max-width: 231px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;

  @include media(desktop) {
    font-size: 88px;
    max-width: max-content;
    margin-bottom: 16px;
  }
}

.hero-text {
  font-family: 'Petrona', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2c2b28;

  @include media(desktop) {
    font-size: 18px;
  }
}
