<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <h2 class="section-title features-title">FEATURES</h2>
        <ul class="features-list">
          <li class="features-list-item">
            <picture>
              <source
                srcset="./img/features/features-img1-desk.png"
                media="(min-width: 1440px)"
                width="528"
                height="254" />
              <source
                srcset="./img/features/features-img1-mob.png"
                width="327"
                height="157" />
              <img
                class="features-img"
                src="./img/features/features-img1-mob.png"
                alt="Screenshot of the game"
                width="327"
                height="157"
                loading="lazy"
            /></picture>
            <h3 class="features-item-title">Build Up Your Defenses</h3>
            <p class="features-item-text">
              Place and upgrade towers to hold back enemy waves while your
              opponent scrambles to break through.
            </p>
          </li>
          <li class="features-list-item">
            <picture>
              <source
                srcset="./img/features/features-img2-desk.png"
                media="(min-width: 1440px)"
                width="528"
                height="254" />
              <source
                srcset="./img/features/features-img2-mob.png"
                width="327"
                height="157" />
              <img
                class="features-img"
                src="./img/features/features-img2-mob.png"
                alt="Screenshot of the game"
                width="327"
                height="157"
                loading="lazy"
            /></picture>
            <h3 class="features-item-title">Real-Time PvP Matches</h3>
            <p class="features-item-text">
              All matches are against real people, no AI opponents. Jump in and
              see how you stack up against players worldwide.
            </p>
          </li>
          <li class="features-list-item">
            <picture>
              <source
                srcset="./img/features/features-img3-desk.png"
                media="(min-width: 1440px)"
                width="528"
                height="254" />
              <source
                srcset="./img/features/features-img3-mob.png"
                width="327"
                height="157" />
              <img
                class="features-img"
                src="./img/features/features-img3-mob.png"
                alt="Screenshot of the game"
                width="327"
                height="157"
                loading="lazy"
            /></picture>
            <h3 class="features-item-title">It's Not Just About Building</h3>
            <p class="features-item-text">
              Adapt your strategy mid-match as your opponent shifts tactics. You
              can't just build the same setup every time - you've gotta think on
              your feet or you'll get steamrolled.
            </p>
          </li>
          <li class="features-list-item">
            <picture>
              <source
                srcset="./img/features/features-img4-desk.png"
                media="(min-width: 1440px)"
                width="528"
                height="254" />
              <source
                srcset="./img/features/features-img4-mob.png"
                width="327"
                height="157" />
              <img
                class="features-img"
                src="./img/features/features-img4-mob.png"
                alt="Screenshot of the game"
                width="327"
                height="157"
                loading="lazy"
            /></picture>
            <h3 class="features-item-title">Command Iconic Heroes</h3>
            <p class="features-item-text">
              Drop your favorite Kingdom Rush heroes right where enemies bunch
              up - they can totally save your butt when things get crazy.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
