<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-title-desk.png"
            media="(min-width: 1440px)"
            width="388"
            height="273" />
          <source
            srcset="./img/hero/hero-title-mob.png"
            width="375"
            height="264" />
          <img
            class="hero-title-img"
            src="./img/hero/hero-title-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="264"
        /></picture>
        <p class="hero-subtitle">
          YOUR TOWERS VS.<br />
          THEIR ARMY.<br />
          LIVE.
        </p>
        <p class="hero-text">
          Kingdom Rush goes head-to-head — build defenses, unleash heroes, and
          crush real players in real-time PvP tower defense battles.
        </p>
        <a
          class="hero-btn"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.ironhidegames.kingdomrush.mp&hl=en&gl=us"
          rel="noopener noreferrer"
          aria-label="Download on Google Play"
          ><svg class="playstore-icon" width="180" height="57">
            <use href="./img/sprite.svg#icon-playstore"></use></svg
        ></a>
      </div>
    </div>
  </div>
</section>
