<section class="section reviews-section" id="reviews">
  <div class="reviews-bg-wrapper">
    <div class="container reviews-container">
      <div class="reviews-content-wrapper">
        <h2 class="section-title reviews-title">REVIEWS</h2>
        <ul class="reviews-list">
          <li class="reviews-list-item">
            <div class="reviews-item-name-wrapper">
              <picture>
                <source
                  srcset="./img/reviews/reviews-5-stars-desk.png"
                  media="(min-width: 1440px)"
                  width="100"
                  height="30" />
                <source
                  srcset="./img/reviews/reviews-5-stars-mob.png"
                  width="90"
                  height="27" />
                <img
                  class="reviews-rating-img"
                  src="./img/reviews/reviews-5-stars-mob.png"
                  alt="Rating"
                  width="90"
                  height="27"
                  loading="lazy"
              /></picture>
              <p class="reviews-item-name">Marcus T.</p>
            </div>
            <p class="reviews-item-text">
              "Finally a tower defense game where the opponent actually fights
              back. Every match feels different."
            </p>
          </li>
          <li class="reviews-list-item">
            <div class="reviews-item-name-wrapper">
              <picture>
                <source
                  srcset="./img/reviews/reviews-5-stars-desk.png"
                  media="(min-width: 1440px)"
                  width="100"
                  height="30" />
                <source
                  srcset="./img/reviews/reviews-5-stars-mob.png"
                  width="90"
                  height="27" />
                <img
                  class="reviews-rating-img"
                  src="./img/reviews/reviews-5-stars-mob.png"
                  alt="Rating"
                  width="90"
                  height="27"
                  loading="lazy"
              /></picture>
              <p class="reviews-item-name">Priya N.</p>
            </div>
            <p class="reviews-item-text">
              "I've been playing Kingdom Rush for years, and honestly? This PvP
              mode is what the series was missing. I can't put it down."
            </p>
          </li>
          <li class="reviews-list-item">
            <div class="reviews-item-name-wrapper">
              <picture>
                <source
                  srcset="./img/reviews/reviews-4-stars-desk.png"
                  media="(min-width: 1440px)"
                  width="80"
                  height="30" />
                <source
                  srcset="./img/reviews/reviews-4-stars-mob.png"
                  width="72"
                  height="27" />
                <img
                  class="reviews-rating-img"
                  src="./img/reviews/reviews-4-stars-mob.png"
                  alt="Rating"
                  width="72"
                  height="27"
                  loading="lazy"
              /></picture>
              <p class="reviews-item-name">Daniel K.</p>
            </div>
            <p class="reviews-item-text">
              "Tight, fast matches you can play in ten minutes. The hero
              mechanics keep every round fresh."
            </p>
          </li>
        </ul>
        <picture>
          <source
            srcset="./img/reviews/reviews-img-desk.png"
            media="(min-width: 1440px)"
            width="328"
            height="169" />
          <source
            srcset="./img/reviews/reviews-img-mob.png"
            width="328"
            height="174" />
          <img
            class="reviews-img"
            src="./img/reviews/reviews-img-mob.png"
            alt="Screenshot of the game"
            width="328"
            height="174"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
